@model CollegeSystem.Models.Classes.Subjects

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subjects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCourse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCourse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdSubject }) |
    @Html.ActionLink("Back to List", "Index")
</p>
